# Movies Tonight Part 2: SQL DDL

In [31]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to ay what each line does

In [32]:
%sql sqlite:///Movies.db

'Connected: @Movies.db'

In [33]:
%sql DROP TABLE IF EXISTS MOVIE;

 * sqlite:///Movies.db
Done.

[]

In [34]:
%sql DROP TABLE IF EXISTS CREDIT;

 * sqlite:///Movies.db
Done.

[]

In [35]:
%sql DROP TABLE IF EXISTS THEATER;

 * sqlite:///Movies.db
Done.

[]

In [36]:
%sql DROP TABLE IF EXISTS ARTIST;

 * sqlite:///Movies.db
Done.

[]

In [37]:
%sql DROP TABLE IF EXISTS SHOWING

 * sqlite:///Movies.db
Done.

[]

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. Thatâ€™s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [38]:
%%sql
CREATE TABLE MOVIES (
    MID INTEGER PRIMARY KEY, 
    MTitle TEXT, 
    Rating TEXT 
);

 * sqlite:///Movies.db
(sqlite3.OperationalError) table MOVIES already exists [SQL: 'CREATE TABLE MOVIES (\n    MID INTEGER PRIMARY KEY, \n    MTitle TEXT, \n    Rating TEXT \n);'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [39]:
%%sql
CREATE TABLE ARTIST (
AID INTEGER PRIMARY KEY,
ANme TEXT
)

 * sqlite:///Movies.db
Done.

[]

In [40]:
%%sql
DROP TABLE IF EXISTS THEATER

 * sqlite:///Movies.db
Done.

[]

In [41]:
%%sql
CREATE TABLE THEATER (
TID INTEGER PRIMARY KEY,
TName TEXT NOT NULL, 
    Phone TEXT, 
    Location TEXT NOT NULL
)

 * sqlite:///Movies.db
Done.

[]

In [43]:
%%sql
DROP TABLE IF EXISTS ARTIST

 * sqlite:///Movies.db
Done.

[]

In [44]:
%%sql
CREATE TABLE ARTIST (
AID INTEGER PRIMARY KEY,
AName TEXT
)

 * sqlite:///Movies.db
Done.

[]

In [46]:
%%sql
CREATE TABLE SHOWING (
SID INTEGER PRIMARY KEY,
    MID INTEGER NOT NULL,
TID INTEGER NOT NULL,
ShowTime)
);

 * sqlite:///Movies.db
(sqlite3.OperationalError) near ")": syntax error [SQL: 'CREATE TABLE SHOWING (\nSID INTEGER PRIMARY KEY,\n    MID INTEGER NOT NULL,\nTID INTEGER NOT NULL,\nShowTime)\n);'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [47]:
%%sql
DROP TABLE IF EXISTS SHOWING

 * sqlite:///Movies.db
Done.

[]

In [49]:
%%sql
CREATE TABLE SHOWING (
SID INTEGER PRIMARY KEY,
MID INTEGER NOT NULL,
TID INTEGER NOT NULL,
ShowTime NOT NULL,
FOREIGN KEY (MID) REFERENCES MOVIES (MID),
FOREIGN KEY (TID) REERENCES THEATER (TID)
)

 * sqlite:///Movies.db
(sqlite3.OperationalError) near "REERENCES": syntax error [SQL: 'CREATE TABLE SHOWING (\nSID INTEGER PRIMARY KEY,\nMID INTEGER NOT NULL,\nTID INTEGER NOT NULL,\nShowTime NOT NULL,\nFOREIGN KEY (MID) REFERENCES MOVIES (MID),\nFOREIGN KEY (TID) REERENCES THEATER (TID)\n)'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [50]:
%%sql
DROP TABLE IF EXISTS SHOWING

 * sqlite:///Movies.db
Done.

[]

In [55]:
%%sql
CREATE TABLE SHOW (
SID INTEGER PRIMARY KEY,
MID INTEGER NOT NULL,
TID INTEGER NOT NULL,
ShowTime TEXT NOT NULL,
FOREIGN KEY (MID) REFERENCES MOVIES (MID),
FOREIGN KEY (TID) REFERENCES THEATER (TID)
);

 * sqlite:///Movies.db
Done.

[]

In [56]:
%%sql
CREATE TABLE CREDIT (
CID INTEGER PRIMARY KEY,
MID INTEGER NOT NULL,
AID INTEGER NOT NULL,
FOREIGN KEY (MID) REFERENCES MOVIES (MID),
FOREIGN KEY (AID) REFERENCES ARTIST (AID)
);

 * sqlite:///Movies.db
Done.

[]

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".